<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Killstagram</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-4" th:each="data, iter : ${listData}">
                <a th:href="@{/detail(idStream=${data.idStream})}">
                <div class="card">
                    <div class="card-header">
                        <i data-feather="calendar"></i><span th:text="${#dates.format(data.createdDate,'dd-MM-yyyy')}"></span>
                        <small   th:text="${#dates.format(data.createdDate,'hh:mm:ss')}"></small>
                    </div>
                    <img th:src="@{/image(idStream=${data.idStream})}" class="card-img-top" alt="image" width="auto" height="200">
                    <div class="card-body">
                        <i data-feather="user"></i><span th:text="${data.createdBy}"></span>
                        <a href="#"><i data-feather="heart"></i></a>
                        <i data-feather="message-square"></i><p class="card-text" th:text="${data.keterangan}"></p>
                    </div>
                </div>
                </a>

            </div>
        </div>
        <!-- paging data-->
        <div class="row">
            <div class="col-sm-6">
                <div sd:pagination-summary="">info</div>
            </div>
            <div class="col-sm-6">
                <nav class="pull-right">
                    <ul class="pagination" sd:pagination="full">
                        <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                        <li class="disabled"><a href="#" aria-label="Previous"><span
                                aria-hidden="true">&laquo;</span></a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
</body>
</html>